/**
* @name Pinky Custom CSS
* @version v1.3
* @description Custom CSS Designed by ğ“”ğ“·ğ“®ğ“¼ğ“’ğ“ªğ“· - Based on the Frosted Glass theme
* @author ğ“”ğ“·ğ“®ğ“¼ğ“’ğ“ªğ“·
* @invite #6908
* @Source https://github.com/DiscordStyles/FrostedGlass
* @website https://betterdiscord.app/theme/Frosted%20Glass
*/
@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower');
:root {
--background-image: url('https://giffiles.alphacoders.com/253/2535.gif');
--background-image-blur: 5px;
--background-image-size: cover;
--background-image-position: center;
--popout-modal-image: url('https://giffiles.alphacoders.com/253/2535.gif');
--popout-modal-blur: 80px;
--popout-modal-size: cover;
--popout-modal-position: center;
--home-button-image: url('https://discordstyles.github.io/FrostedGlass/assets/discord.svg');
--home-button-size: cover;
--home-button-position: center;
--serverlist-brightness: 0.7;
--left-brightness: 0.7;
--middle-brightness: 0.6;
--right-brightness: 0;
--popout-modal-brightness: 0.7;
--gradient-primary: 59,53,55;
--gradient-secondary: 178,158,166;
--gradient-direction: 300deg;
--tint-colour: 255,227,238;
--tint-brightness: 0;
--window-padding: 10px;
--window-roundness: 15px;
--scrollbar-colour: #FFE3EE83;
--link-colour: #6F87DBE0;
--show-gift-gif-buttons: no-repeat;
--font: 'Indie Flower';
--update-notice-1: none;
}