/**
* @name Eno's Custom Theme
* @version v2
* @description Custom Designed by 3n3scan - Based on the Frosted Glass theme
* @author 3n3scan
* @Source https://github.com/DiscordStyles/FrostedGlass
* @website https://betterdiscord.app/theme/Frosted%20Glass
*/
@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower');
:root {
--background-image: url('https://cutewallpaper.org/21/1920x1080-animated-gif/Live-Wallpaper-Gfif-Siboneycubancuisine.com.gif');
--background-image-blur: 5px;
--background-image-size: cover;
--background-image-position: center;
--popout-modal-image: url('https://cutewallpaper.org/21/1920x1080-animated-gif/Live-Wallpaper-Gfif-Siboneycubancuisine.com.gif');
--popout-modal-blur: 65px;
--popout-modal-size: cover;
--popout-modal-position: center;
--home-button-image: url('https://discordstyles.github.io/FrostedGlass/assets/discord.svg');
--home-button-size: cover;
--home-button-position: center;
--serverlist-brightness: 0.5;
--left-brightness: 0.55;
--middle-brightness: 0.6;
--right-brightness: 0;
--popout-modal-brightness: 0.6;
--gradient-primary: 144,172,255;
--gradient-secondary: 63,81,181;
--gradient-direction: 320deg;
--tint-colour: 54,239,255;
--tint-brightness: 0;
--window-padding: 15px;
--window-roundness: 15px;
--scrollbar-colour: #767BFF4D;
--link-colour: #0089BFFF;
--show-gift-gif-buttons: no-repeat;
--font: 'Indie Flower';
--update-notice-1: none;
}